database:
  url: "postgres://username:password@localhost:5432/dbname?sslmode=disable"

kafka:
  brokers:
    - "127.0.0.1:9092"
  topic: "topic_name"
  group_id: "console-consumer-group"

app:
  output_mode: "kafka" # "kafka" или "direct"

grpc:
  port: ":12345"